{% extends "base.html" %}

{% block title %}Add Expense | ExCal{% endblock %}

{% block content %}

<div class="dashboard">

    <aside class="sidebar">

        <div class="logo">
        <h2>ExCal</h2>
        <p>Expense Tracker</p>
        </div>

    <ul>

        <li>
        <a href="{{ url_for('dashboard') }}">
            🏠 Dashboard
        </a>
        </li>

        <li>
        <a href="{{ url_for('add_income') }}">
            💰 Income
        </a>
        </li>

        <li class="active">
        <a href="{{ url_for('add_expense') }}">
            💸 Expense
        </a>
        </li>

        <li>
        <a href="{{ url_for('reports') }}">
            📊 Reports
        </a>
        </li>

        <li>
        <a href="/logout">
            🚪 Logout
        </a>
     </li>

    </ul>

    </aside>

    <main class="main-content">

        <h1>Add Expense</h1>

        <form action="/add-expense" method="POST">

            <div class="mb-3">
                <label>Title</label>
                <input type="text"
                       class="form-control"
                       name="title"
                       required>
            </div>

            <div class="mb-3">
                <label>Category</label>

                <select class="form-control"
                        name="category">

                    <option>Food</option>
                    <option>Travel</option>
                    <option>Shopping</option>
                    <option>Bills</option>
                    <option>Health</option>
                    <option>Education</option>
                    <option>Other</option>

                </select>

            </div>

            <div class="mb-3">

                <label>Amount</label>

                <input type="number"
                       class="form-control"
                       name="amount"
                       required>

            </div>

            <div class="mb-3">

                <label>Date</label>

                <input type="date"
                       class="form-control"
                       name="expense_date"
                       required>

            </div>

            <div class="mb-3">

                <label>Notes</label>

                <textarea class="form-control"
                          name="notes"></textarea>

            </div>

            <button class="btn btn-danger">
                Save Expense
            </button>

        </form>

    </main>

</div>

{% endblock %}